<p>Hej <span>$$user$$</span>!<br><!-- $user can either be a corporation name or the first name of a private person -->
Vi har glädjen att meddela att du fått ett nytt meddelande på <a href="http://www.takoverhuvudet.se">takoverhuvudet.se</a> Skynda dig och kolla vem det är ifrån! :)<br>
<br>
Varma hälsningar,<br>Tak Över Huvudet Sverige</p>
