Hej <span>$$user$$</span>!<br><br>
Klicka på nedanstående länk för att ändra lösenordet :)<br>
<a href="$$confirm_link$$">Glömt Lösenord ?</a><br><!-- When user klicks this link she will be redirected to userVerified.html -->
<br>
Varma hälsningar,<br>
Tak Över Huvudet Sverige
