Hej <span>$$user$$</span>!<br><!-- $user can either be a corporation name or the first name of a private person -->
Välkommen som kund hos oss, klicka på länken för att slutföra din registrering :)<br>
<br>
<a href="$$confirm_link$$">Klicka här för att slutföra registreringen</a><br><!-- When user klicks this link she will be redirected to userVerified.html -->
<br>
Varma hälsningar,<br>
Tak Över Huvudet Sverige
