@charset "utf-8";

/* top menu styling */
#bigScreenMenu ul {
	margin-left:10px;	
}


/* Index page */
#loginForm label {
	display:none;	
}
@media only screen and (max-width:1014px) {
	.linkBox {
		padding:0 5%;	
	}
}

/* about */
.subPageWrapper .aboutTxt {
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
	-webkit-column-gap:0;
	-moz-column-gap:0;
	column-gap:0;
	padding-bottom: 30px;
	padding-left:0;
}
#aboutLogo {
	width:96px;
	height:63px;	
}
/* end about */

/* howItWorks page */
#howItWorksPage {
	width:90% !important;	
}
#howItWorksPage .subContentWrapper {
	width:100%;
	padding-left:0;	
}
#howItWorksPage figure {
	width:40%;
	padding-left:0;
	margin-left:0;	
}
/* end howItWorks page */

/* access_index page */
#collapsedMenuIcon {
	display:none !important;	
}
.loggedInLeftBlock {
	margin-top:80px !important;
	margin-left:5%;
	margin-right:5%;	
}
.loggedInLeftBlock img {
	width:180px;	
}

/* subPageFowmWrapper styling */
#subPageFormWrapper {
	width:95%;	
}
#subPageFormWrapper .subPageInnerWrapper {
	width:85%;	
}

/* messages page */
#messagesWrapper {
	width:100% !important;
	border-radius:0;	
}
#subMessagesWrapper {
	margin-left:4%;
	width:95% !important;	
}
.m-infoBlock, .ms-infoBlock, .mlc-infoBlock, .msc-infoBlock, .ma-infoBlock {
	width:28%;
}



