@charset "utf-8";
p, em {
	font-size:0.9em;	
}
h2 {
	font-size:1.2em;	
}
#backUl {
	margin-left:0;	
}
/* Index page */
.indexContent .leftBlock {
	display:none;	
}
.rightBlock {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
.rightBlock figure {
	width:70%;
	margin: 20px auto 10px;
	overflow:hidden;
}
.fieldTypes {
	clear:both;
}
.loginBlock {
	box-sizing:border-box;
	width:100%;
}
.loginBlock .fieldTypes {
	position:relative;	
}
.loginBlock .fieldTypes p:nth-child(1), .loginBlock .fieldTypes p:nth-child(2) {
	display:none;
}
.loginBlock .fieldTypes p small a {
	position:absolute;
	top:135px;
	left:160px;	
}
#loginForm {
	clear:both;
	width:80% !important;
	margin-left:40px;
}
#loginForm .txtInput {
	width:90%;
}
#loginForm input {
	margin-top:0 !important;
	margin-bottom:15px;	
}
.loginBlock .fieldTypes #loginForm label {
	display:block;
}
#loginBtn {
	margin-left:5px !important;
}
.registerWrapper {
	margin-left:40px;	
}
.registerWrapper .fieldTypes {
	width:100% !important;
}
.registerWrapper .fieldTypes p {
	text-align:left;
	padding-left:5px;
}
.regBtnBox .formBtn {
	margin-left:5px;	
}
.linkBoxWrapper {
	margin-top:0;
	margin-bottom:0;	
}
.linkBox {
	display:block;
	margin-bottom:20px;
	border-bottom:1px solid rgba(0,102,153,0.2);	
}
.linkBox h2 {
	font-size:1.4em !important;
	margin-bottom:10px;	
}
.linkBox p {
	font-size:0.9em !important;
	margin-bottom:10px;
}
/* end Index page */

/* Chooseregister, requestPassword */
.regContainer .subPageWrapper {
	width:100%;
	border-radius:0;
	margin-top:0;
	padding-top:45px;	
}
.regContainer .subPageInnerWrapper {
	width:90%;	
}
.regContainer .subPageInnerWrapper h1 {
	font-size:1.5em;
	padding-bottom:15px;
	padding-left:0;	
}
.regOptionBtnWrapper .formBtn:last-child {
	margin-top:30px;	
}
/* end Chooseregister, requestPassword */

/* about */
.subPageWrapper .aboutTxt {
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
	-webkit-column-gap:0;
	-moz-column-gap:0;
	column-gap:0;
	padding-bottom: 30px;
	padding-left:0;
	
}
#aboutLogo {
	width:96px;
	height:63px;	
}
#aboutWrapper1 {
	margin-top:75px;	
}
#aboutWrapper1, #aboutWrapper2, #aboutWrapper3 {
	width:100%;
	border-bottom-right-radius:0 !important;
	border-top-left-radius:0 !important;	
}
/* end about */

/* howItWorks page */
#howItWorksPage {
	width:100% !important;
	border-radius:0 !important;	
}
#howItWorksPage .subContentWrapper {
	width:90%;
	padding-left:0;	
}
#howItWorksPage h2 {
	font-size:1.2em;	
}
#howItWorksPage figure {
	clear:left;
	width:100%;
	padding-left:0;
	margin-left:0;
	margin-bottom:50px;	
}
#howItWorksPage figure:last-child {
	padding-right:0;	
}
/* end howItWorks page */

/* register, registerBusiness page & profile pages */
#subPageFormWrapper, #subPageProfileWrapper {
	width:100%;
	border-radius:0 !important;	
}
#subPageProfileWrapper .profilePicture {
	float:none;
	margin-bottom:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#subPageProfileWrapper .profilePicture img {
	margin-left:0;	
}
.profileColumn {
	margin-left:0;	
}
#leftProfileColumn {
	margin-left:0;	
}
.profileBtns {
	margin-left:0;
	width:100%;	
}
#subPageFormWrapper .subPageInnerWrapper {
	width:95% !important;	
}
#subPageProfileWrapper .subPageInnerWrapper {
	width:80%;	
}
#subPageProfileWrapper .subContentWrapper {
	float:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;	
}
#subPageFormWrapper .subContentWrapper {
	width:60%;
	margin-left:5%;	
}
#subPageFormWrapper .subContentWrapper input[type="text"], #subPageFormWrapper .subContentWrapper input[type="email"], #subPageFormWrapper .subContentWrapper textarea {
	width:225px;
	height:40px;	
}
#subPageFormWrapper .subContentWrapper .selectInput {
	width:235px !important;
	height:40px !important;	
}
#regUserBtn, #clearRegisterFormBtn, #saveAdBtn, #clearAdFormBtn, #saveUserSettingsBtn {
	float:none !important;
	margin-left:0;
	width:225px;
}
#takeMeBackBtn, #paySuccessBtn, #seeProposalBtn, #denyProposalBtn, #backToProfileBtn, #deleteAccountBtn, #toAdsBtn, #deleteAdBtn, #backToMessagesBtn, #acceptProposalBtn, #userSettingsBtn, #deleteAccountBtn, #acceptBtn, #denyBtn {
	float:none !important;
	width:100%;
	margin-left:0;
}
.singleFormBtn {
	float:none;
}
#takeMeBackBtn, #seeProposalBtn, #backToProfileBtn, #toAdsBtn, #backToMessagesBtn, #userSettingsBtn {
	margin-top:50px;
	margin-bottom:50px;	
}
#birthYear, #birthMonth, #birthDay {
	width:225px;
	height:50px;	
}
#registerCheckboxWrapper {
	float:none;
	margin-top:50px;
	margin-bottom:50px;
}

/* access_index page */
.loggedInRightBlock {
	border-radius:0 !important;
}
.loggedInRightBlock figure {
	margin-top:150px;	
}
.loggedInRightBlock .slogan h2 {
	font-size:1.7em !important;
	margin-bottom:100px;	
}

/* top menu styling */
#bigScreenMenu {
	display:none;	
}
#smallScreenMenu a.fltrt {
	float:left;
	width:100%;	
}

/* ad page */
.adObjectDetails {
	padding-left:0;	
}
.adObjectDetails p {
	font-size:1.1em;
	padding-left:0;	
}
.adButtons {
	float:none;	
}
.adPicturesWrapper {
	padding:0;	
}
.newAdBtnsWrapper {
	width:100%;
	margin-left:0;	
}
.fixedWidthBtn {
	width:100%;
	margin-left:0 !important;	
}
.newAdBtnsWrapper h3 {
	text-align:left;
	padding-left:0;	
}

/* messages page */
#messagesWrapper {
	width:100% !important;
	border-radius:0;	
}
#subMessagesWrapper {
	margin-left:4%;
	width:95% !important;	
}
.m-infoBlock, .ms-infoBlock, .mlc-infoBlock, .msc-infoBlock, .ma-infoBlock {
	width:100%;
	float:none;
}
.m-infoBlock p, .ms-infoBlock p, .mlc-infoBlock p, .msc-infoBlock p, .ma-infoBlock p {
	font-size:1.0em;	
}
.messageFooterBlock {
	width:95%;	
}
.proposalInfo {
	width:100%;	
}
.messageFooterBtns {
	width:100%;
	float:none;	
}