@charset "utf-8";

/* paragraph font */
@import url(http://fonts.googleapis.com/css?family=Questrial);

/* headings font */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

/*Curvy font for company slogan*/
@font-face{ 
	font-family: 'Tangerine';
	src: url('../fonts/tangerine_regular-webfont.eot');
	src: url('../fonts/tangerine_regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/tangerine_regular-webfont.woff') format('woff'),
	     url('../fonts/tangerine_regular-webfont.ttf') format('truetype'),
	     url('../fonts/tangerine_regular-webfont.svg#webfont') format('svg');
}
* {
	transition:all 0.5s !important;
}
body {
	font: 16px 'Questrial', Calibri, sans-serif !important;
	background-color: #C5EBBF;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}
body.denyBckgr {
	background-color:#FBC5AA;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	letter-spacing:0.05em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight:400;
	color: white;
}
p {
	font-size:1.1em;
	line-height:1.2;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	text-decoration:none;
	color:#FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	color: #336600;
}
select, option {
	color:#999;
}
#hoverMap:hover { /* cursor is set to default because its containing hotspots does not have any functionality. If functionality is implemented in future, this code can be removed */
	cursor:default;
}
/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.indexContainer {
	min-width: 100%;
	max-width: 2800px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
}
.publicBckr {
	background:url(../img/lookingonhouses-blurred.png) no-repeat right bottom fixed;
	background-size:cover;	
}

/*Removes the default browser render style of placeholder text color*/
::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /*Firefox 18-*/
	color:#999 !important;
}
::-moz-placeholder { /*Firefox 19+*/
	color:#999 !important;
}
:-ms-input-placeholder {
	color:#999 !important;
}
/*universal style for buttons, both of type submit and button*/
button[type="submit"], button[type="button"], button[type="reset"] {
	height: 30px;
	padding:0 16px;
	margin-left:50px;
	color:white;
	line-height:1.5;
	background-color:transparent;
	border:2px solid white;
	border-radius:3px;
	font-family:'Questrial',sans-serif;
}
button[type="submit"]:hover, button[type="button"]:hover, button[type="reset"]:hover, button[type="submit"]:active, button[type="button"]:active, button[type="reset"]:active, button[type="submit"]:focus, button[type="button"]:focus, button[type="reset"]:focus {
	background-color:white;
	color:#360;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.indexContent {
	width:100%;
	padding: 0.001em 0 0 0; /* Firefox bug fix, 0.001em removes strange white space area on top of pages */
}
.leftBlock {
	width:30%;
	margin:0 0 0 18%;
	padding:50px 0 50px;
}
.leftBlock img {
	width:250px;
}
.rightBlock {
	background-color: rgba(94, 172, 59, 0.9);
	width:442px;
	margin:0;
	padding:0;
}
.rightBlock figure {
	width:70%;
	margin: 50px auto 10px;
	overflow:hidden;
}
.rightBlock figure img {
	width:100%;
}
.slogan h2 {
	font-family: 'Tangerine', Calibri, sans-serif;
	font-size: 2em;
	text-align:center;
}
.fieldTypes {
	width:40%;
}
.fieldTypes p {
	text-align:right;
	margin-top:5px;
	margin-bottom:18px;
	color:white;
}
.loginBlock {
	overflow:hidden;
}
.rightBlock .loginBlock .fieldTypes p:last-child {
	text-align:left;
	padding-left:40px;
	margin-bottom:0;
}
.rightBlock .loginBlock .fieldTypes p small a {
	color:#360;
	font-size:0.8em;
}
.rightBlock .loginBlock #loginForm {
	float:left;
	width:60%;
}
.loginBlock .fieldTypes #loginForm label {
	display:none;
}
.txtInput {
	height:22px;
	width:200px;
	border-radius:5px;
	padding-left:5px;
	background-color: white;
	font-size:0.8em;
	line-height:2.2;
}
/* to make label sit on top of text fields*/
label { 
	display:block;
	color:white;
}
@media only screen and (min-width:1156px) {
	#loginForm label {
		display:none;	
	}
}
.rightBlock .loginBlock #loginForm input:nth-of-type(2), #loginForm #loginBtn {
	margin-top:12px;
}
.loginSeparator {
	box-sizing:border-box;
	width:85%;
	height:2px;
	border-top:1px solid rgba(51,102,0, 0.4);
	border-bottom:1px solid rgba(94, 172, 59, 1);
	margin:20px auto 30px;
}
.registerWrapper {
	margin-bottom: 28px;
	overflow:hidden;
}
.fieldTypes {
	width:40%;
}
.fieldTypes p {
	text-align:right;
}
.regBtnBox {
	width:200px;
}
.formBtn {
	margin-left:30px;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The footer ~~ */
.footer {
	height:100%;
	margin-top:100px;
	padding: 20px 0 0;
	background:url(../img/footer-tak-over-huvudet.png) no-repeat center center;
	overflow:hidden;
}
.linkBoxWrapper {
	padding-bottom:20px;
	margin-bottom:50px;
	text-align:center;
	overflow:hidden;
}
.linkBox {
	display:inline-block;
	padding:0 7%;
	margin:0;
	text-align:left;
}
.linkBox h2 {
	font-size:1.8em;
	padding-top:10px;
	margin-bottom:10px;
}
.linkBox p {
	margin-bottom:5px;
}
.linkBox p a:hover {
	color:#060;	
}

/* ~~ Register as private or business page. Request new password page. Uses same outer wrappers as Register page ~~ */
.regOptionBtnWrapper, .resetPasswordWrapper {
	width:80%;
	margin:0 auto;
}
.regOptionBtnWrapper .formBtn, .resetPasswordWrapper .formBtn {
	width:94px;
	margin-left:0;
	margin-right:30px;	
}
.resetPasswordWrapper p {
	padding-top:10px;
	padding-left:0;
}
#newPassword {
	margin-bottom:10px;	
}
/* ~~ Register page styles ~~ */
.regContainer {
	width:100%;
	margin:0;
	padding:0.001em 0 0 0; /* ~~ Removes unwanted top margin that can emerge in some browsers ~~ */
}
.subPageWrapper {
	width:60%; /* 1100px originally set */
	margin: 10% auto;
	background-color:rgba(94, 172, 59, 0.9);
	border-radius:10px;
	overflow:hidden;
}
.subPageInnerWrapper {
	width:70%;
	margin:50px auto;
	overflow:hidden;
}
.subPageInnerWrapper h2 {
	margin-left:0;
	padding-left: 0;
}
.subPageWrapper h1 {
	font-size:2em;
	padding-left:0;
}

/* register new account styles */
#registerAccountWrapper {
	width:869px;	
}
#registerAccountWrapper .subPageInnerWrapper {
	width:85%;	
}
label.customInputBtn {
	margin-top:18px;
	margin-right:50px;
	position:relative;
	overflow:hidden;
	height:190px;
	
}
label.customInputBtn img {
	border-radius:3px;
}
label.customInputBtn small {
	position:absolute;
	box-sizing:border-box;
	width:100%;
	border:2px solid white;
	border-radius:3px;
	padding: 4px 8px;
	top:160px;
	left:0;
	text-align:center;
	z-index:999;
}
label.customInputBtn small:hover {
	background-color: white;
	color:#360;
}
p#fileName {
	width:120px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	padding-left:0;
	font-size:small;
}
p#fileName:before {
	content:"File: ";
	font-size:small;
}
#uploadPicture { /* use chosen file button */
	margin:0;
	font-size:0.9em;
	padding:2px 8px;
}
.registerForm fieldset:nth-child(2) {
	margin-right:50px;
}
.registerForm fieldset input, .selectInput {
	margin-bottom:10px;
}
.selectInput {
	height:28px;
	width:60px;
	border-radius:5px;
	padding-left:5px;
	background-color: white;
	font-size:0.8em;
	line-height:2.2;
	margin-right:10px;
}
p#genderRadioBtns {
	padding-top:11px;
	margin-bottom:0;
}
#genderRadioBtns label:nth-child(2) {
	margin-left:25px;
}

#registerCheckboxWrapper {
	float:right;
	margin:15px auto;
	font-size:0.8em;
}
#registerCheckboxWrapper a {
	text-decoration:underline;
}
input[type="checkbox"] {
	margin-top:1px;
	margin-right:5px;
}
#regUserBtn {
	text-align:center;
	margin-bottom:50px;
}
fieldset label#responsiblePersonLabel {
	margin-top: 54px;	
}
/* ~~ fixed header menu for sub pages ~~ */
header {
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(94, 172, 59, 0.9);
	min-width:100%;
	box-shadow: 0 1px 3px #000;
	z-index:9999;
}
header nav ul {
	margin-left:50px;
}
header nav ul li {
	display:inline-block;
	padding:20px 10px;
}
@media only screen and (min-width:1157px) { /* prevents small screen menu to display at larger screen sizes than specified in each responsive stylesheet. */
  #collapsedMenuIcon, #smallScreenMenu {
	  display:none !important;	
  }
}
#collapsedMenuIcon nav ul {
	margin:0;
	width:100%;
}
#collapsedMenuIcon nav ul li {
	width:100%;
}
#collapsedMenuIcon nav ul img {
	margin-left:10px;
}
#smallScreenMenu { /* this menu is only visible in phone screen sizes */
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(94, 172, 59, 0.9);
	min-width:100%;
	margin:0;
	padding:0;
	
}
#smallScreenMenu nav ul {
	margin:0;	
}
#smallScreenMenu nav ul a li {
	padding:20px;
	border-bottom:1px solid white;
	width:100%;
	margin:0;	
}
#smallScreenMenu nav ul a {
	margin:0;
	padding:0;	
}
header nav ul a:hover, #smallScreenMenu nav ul a:hover {
	color:white !important;
}
header nav ul a:hover > li, #smallScreenMenu nav ul a:hover li, #collapsedMenuIcon li:hover {
	background-color:#32B8D2;
	cursor:pointer;
}
#messageLink {
	position:relative;
}
#alertContainer {
	background-image: url("../img/keyheart.svg");/* svg base64 encoded alert icon. Only displayed when user has an unread message */
	position:absolute;
	top:30px;
	left:87px;
	width:30px;
	height:36px;
}
/* ~~ About page style ~~ */
#aboutLogo {
	width:20%;
	margin:0 auto 50px;
}
#aboutLogo img {
	width:100%;
}
.aboutTxt {
	-webkit-column-count:2;
	-moz-column-count:2;
	column-count:2;
	-webkit-column-gap:40px;
	-moz-column-gap:40px;
	column-gap:40px;
	padding-bottom: 30px;
}
.pageDividerSpacer {
	width:100%;
	height:0.001px;
}
#aboutWrapper1, #aboutWrapper2, #aboutWrapper3 { /* overides the radius from their class .subPageWrapper */
	border-top-left-radius:200px !important;
	border-bottom-left-radius:0 !important;
	border-top-right-radius:0 !important;
	border-bottom-right-radius:200px !important;
}
#aboutWrapper1 {
	background-color:#6FBF62;
}
#aboutWrapper2 {
	background-color:#32B8D2;
}
#aboutWrapper3 {
	background-color:#67BF9C;
}

/* How it work page style */
#howItWorksPage {
	width:1080px !important;	
}
figure.howItWorks {
	padding:20px 30px;
	float:left;
	
}
#howItWorksPage figure img {
	width:100%;	
}

/* COntact page style */
#contactWrapper p a {
	color:#060 !important;
	text-decoration:underline;	
}
#contactWrapper p a:hover {
	color:white !important;	
}
#emailBtn {
	margin-left:15px;	
}


#questionsWrapper p em {
	color:#060;
}
#questionsWrapper p em a, #tipsPageWrapper p a {
	color:#060 !important;
	text-decoration:underline;
}
#questionsWrapper p em a:hover, #tipsPageWrapper p a:hover {
	color:white !important;
}
ul#tipsList {
	list-style-type:none !important;
	color:white;
}
ul#tipsList li {
	padding-bottom:14px;
}

/* ~~ Logged in user pages ~~ */
/* ~~ Main logged in user page ~~ */
.loggedInBckgr {
	background:url(../img/livingroom.jpg) no-repeat center center fixed;
	background-size:cover;
}
.loggedInContainer {
	background-color:none;
	width:100%;
	margin:0;
	padding:0.001em 0 0 0;
}
.loggedInLeftBlock {
	margin-top:50px !important;
}
.loggedInRightBlock {
	margin-top:100px;
	margin-left:-100px;
	padding-bottom:50px;
	width:600px;
	border-bottom-right-radius:30px;
	border-top-left-radius:30px;
}
.loggedInRightBlock .slogan h2 {
	font-size:2.7em;
	margin-top:20px;
}
/* ~~ Profile page ~~ */
.profilePicture img {
	border-radius:3px;
	margin-right:50px;
}
.profileColumn {
	margin-right:50px;
}
.profileColumn p {
	margin-bottom:1.5em;
	color:#060;
}
.profileColumn p span {
	color:white;
}
#userSettingsBtn {
	margin-left:50px;
}
/* ~~ Change user profile page ~~ */
#saveUserSettingsBtn {
	margin-left:150px;
	margin-top:50px;
}

/* ~~ User profile ads page where all users object are displayed ~~ */
.adWrapper {
	width:100%;
	overflow:hidden;	
}
.adWrapper:hover {
	background-color:#1C9880;
}
.adHeader {
	width:100%;	
}
.adHeader h3 {
	display:inline-block;
	padding-left:10px;
	margin-right:50px;	
}
.adPicturesWrapper {
	width:170px;
	float:left;
	padding:0 10px;	
}
.adFig {
	padding-bottom:10px;	
}
.adFig img {
	border-radius:5px;	
}
.adObjectDetails {
	float:left;
	padding:0 10px;	
}
.adButtons {
	float:right;
	padding-right:10px;	
}
.adButtons .adBtn {
	float:right;
	width:100%;
	margin-bottom:20px;	
}
.NewAdBtnsWrapper, .profileBtns {
	width: 500px;
	margin-left:50px;
	margin-top:80px;
	overflow:hidden;
}
.NewAdBtnsWrapper h3 {
	text-align:center;
}
.fixedWidthBtn {
	width:180px;
}
#findBtnForm, #rentBtnForm {
	margin:0;
	padding:0;
}


/* ~~ Create search accommodation ad page ~~ */
.adDropDown {
	width:209px !important;
	padding-left:5px;
}
.fieldsetColumnMargin {
	margin-right:150px;
}
.txtAreaHeight {
	height:76px !important;
	margin-bottom:10px !important;
}
#findAdForm fieldset {
	margin-bottom:50px;
}
#saveAdBtn {
	margin-right:66px;
}

/* ~~ Create Rent out accommodation ad page ~~ */
label.objectInputBtn {
	float:left;
	overflow:hidden;
	width:50px;
	margin-right:20px;
}
label.objectInputBtn img {
	float:right;
	border-radius:3px;
}
label.objectInputBtn img:hover {
	background-color: white;
	color:#360;
}
p.rentOutParagraph {
	clear:left;
	line-height:0.9;
	width:200px;
	padding-top:5px;
	margin-left:0;
	margin-bottom:27px;
	padding-left:0;
	text-wrap:normal;
	overflow:hidden;
}
p.rentOutParagraph small {
	font-size:0.8em;
	
}

/* ~~ Message page with tables ~~ */
#messagesWrapper {
	width:1080px !important;	
}
#subMessagesWrapper {
	width:867px !important;	
}
.messageWrapper {
	width:100%;
	overflow:hidden;
	border-bottom:1px solid #060;
	padding-top:30px;	
}
.messageWrapper p {
	font-size:0.9em;	
}
.messageWrapper h3 {
	padding-left:10px;	
}
.m-infoBlock, .ms-infoBlock, .mlc-infoBlock, .msc-infoBlock, .ma-infoBlock {
	float:left;
	width:31%;
	padding:0 10px;	
}
#m-infoBlockProfilePic, #ms-infoBlockProfilePic, #mlc-infoBlockProfilePic, #msc-infoBlockProfilePic, #ma-infoBlockProfilePic {
	margin-bottom:10px;	
}
#m-infoBlockProfilePic img, #ms-infoBlockProfilePic img, #mlc-infoBlockProfilePic img, #msc-infoBlockProfilePic img, #ma-infoBlockProfilePic img {
	border-radius:3px;
}
.m-infoBlock p, .ms-infoBlock p, .mlc-infoBlock p, .msc-infoBlock p, .ma-infoBlock p, .messageFooterBlock p small {
	padding-left:0;
	color:#060;	
}
.m-infoBlock p span, .ms-infoBlock p span, .mlc-infoBlock p span, .msc-infoBlock p span, .ma-infoBlock p span, .messageFooterBlock p small span {
	color:white;	
}
.messageFooterBlock {
	width:100%;
	overflow:hidden;
	padding-top:30px;	
}
.messageFig {
	display:inline-block;
	padding:10px;	
}
.messageFig img {
	border-radius:3px;	
}
.proposalInfo {
	width:50%;
	float:left;	
}
.messageFooterBtns {
	width:40%;
	float:right;	
}
.messageFooterBtns .formBtn {
	width:50%;
	margin-bottom:20px;	
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.displayNone { /* this class makes it easier to hide elements directly from your HTML */
	display:none;
}
