@charset "utf-8";

/* top menu styling */
#bigScreenMenu ul {
	margin-left:10px;	
}
#collapsedMenuIcon {
	display:none !important;	
}


/*Index page*/
#loginForm label {
	display:none;
}
.indexContent .leftBlock {
	display:none;	
}
.indexContent .rightBlock {
	width:100%;
}
.indexContent .rightBlock figure {
	width:309px;
}
.loginBlock .fieldTypes p:last-child {
	text-align:right !important;	
}
.linkBoxWrapper {
	width:100%;
	margin-top:0;
	margin-bottom:0;	
}
.linkBox {
	display:block;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding-bottom:10px;
	border-bottom:1px solid rgba(0,102,153,0.2);
}
.linkBox h2 {
	margin-bottom:15px;
}
.linkBox p {
	display:inline-block;
	padding-bottom:20px;
}
.linkBox p:last-child {
	margin-left:15px;	
}
@media only screen and (max-width:470px) {
	.linkBox h2 {
		font-size:1.4em;	
	}
	.linkBox p {
		font-size:0.9em;	
	}
} 
/* end Index page */

/* Chooseregister, requestPassword */
.subPageWrapper {
	margin-top:84px;	
}
.regContainer .subPageInnerWrapper {
	width:90%;	
}
.regOptionBtnWrapper .formBtn:last-child {
	margin-top:30px;	
}
/* end chooseregister, requestPassword */

/* passwordRequestSent, confirmRegistration */
.subContentWrapper {
	padding-left:20px;
}
/* end passwordRequestSent, confirmRegistration */

/* about */
.subPageWrapper .aboutTxt {
	-webkit-column-count:1;
	-moz-column-count:1;
	column-count:1;
	-webkit-column-gap:0;
	-moz-column-gap:0;
	column-gap:0;
	padding-bottom: 30px;
	padding-left:0;
}
#aboutLogo {
	width:96px;
	height:63px;	
}
#aboutWrapper1, #aboutWrapper2, #aboutWrapper3 {
	width:90%;
	border-bottom-right-radius:100px !important;
	border-top-left-radius:100px !important;	
}
/* end about */

/* howItWorks page */
#howItWorksPage {
	width:100% !important;
	border-radius:0 !important;	
}
#howItWorksPage .subContentWrapper {
	width:90%;
	padding-left:0;	
}
#howItWorksPage figure {
	width:45%;
	padding-left:0;
	margin-left:0;	
}
#howItWorksPage figure:last-child {
	padding-right:0;	
}
/* end howItWorks page */

/* questions */
#questionPageWrapper {
	width:90% !important;	
}
/* end questions */

/* tips page */
#tipsPageWrapper {
	width:90%;	
}

/* register, registerBusiness pages, private & business profile pages */
#subPageFormWrapper, #subPageProfileWrapper {
	width:100% !important;
	border-radius:0;	
}
#subPageProfileWrapper .profilePicture {
	float:none;
	margin-bottom:20px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#subPageProfileWrapper .profilePicture img {
	margin-left:10px;	
}
.profileColumn {
	margin-left:0;	
}
#leftProfileColumn {
	margin-left:0;	
}
.profileBtns {
	margin-left:0;
	width:100%;	
}
#subPageFormWrapper .subPageInnerWrapper {
	width:95% !important;	
}
#subPageProfileWrapper .subPageInnerWrapper {
	width:80%;	
}
#subPageProfileWrapper .subContentWrapper {
	float:none;
	width:80%;
	margin-left:auto;
	margin-right:auto;	
}
#subPageFormWrapper .subContentWrapper {
	width:60%;
	margin-left:20%;	
}
#subPageFormWrapper .subContentWrapper input[type="text"], #subPageFormWrapper .subContentWrapper input[type="email"] {
	width:300px !important;
	height:40px !important;	
}
#subPageFormWrapper .subContentWrapper textarea {
	width:300px;
	height:100px;
	line-height:1.5;	
}
#subPageFormWrapper .subContentWrapper .selectInput {
	width:310px !important;
	height:40px !important;	
}
#regUserBtn, #clearRegisterFormBtn, #saveAdBtn, #clearAdFormBtn, #saveUserSettingsBtn {
	float:none !important;
	margin-left:0;
	width:304px;
}
#takeMeBackBtn, #paySuccessBtn, #seeProposalBtn, #denyProposalBtn, #backToProfileBtn, #deleteAccountBtn, #toAdsBtn, #deleteAdBtn, #backToMessagesBtn, #acceptProposalBtn, #userSettingsBtn, #deleteAccountBtn {
	float:none !important;
	width:100%;
	margin-left:0;
}
.singleFormBtn {
	float:none;
}
#takeMeBackBtn, #seeProposalBtn, #backToProfileBtn, #toAdsBtn, #backToMessagesBtn, #userSettingsBtn {
	margin-top:50px;
	margin-bottom:50px;	
}
#birthYear, #birthMonth, #birthDay {
	width:90px;
	height:50px;	
}
#registerCheckboxWrapper {
	float:none;
	margin-top:50px;
	margin-bottom:50px;
}
@media only screen and (max-width:574px) {
	#subPageFormWrapper .subContentWrapper {
	width:80%;
	margin-left:5%;	
	}	
}

/* access_index page */
.loggedInRightBlock {
	margin-left:0;
	margin-right:0;
	width:100%;
	border-radius:0 !important;
		
}
.loggedInRightBlock .slogan h2 {
	font-size:1.9em !important;	
}


/* ad page */
.newAdBtnsWrapper {
	width:50%;
	margin-left:0;	
}
.fixedWidthBtn {
	width:100%;
	margin-left:0 !important;	
}
.newAdBtnsWrapper h3 {
	text-align:left;
	padding-left:0;	
}

/* messages page */
#messagesWrapper {
	width:100% !important;
	border-radius:0;	
}
#subMessagesWrapper {
	margin-left:4%;
	width:95% !important;	
}
.m-infoBlock:nth-child(2), .ms-infoBlock:nth-child(2), .mlc-infoBlock:nth-child(2), .msc-infoBlock:nth-child(2), .ma-infoBlock:nth-child(2) {
	width:40%;
}
.m-infoBlock:nth-child(4), .ms-infoBlock:nth-child(4), .mlc-infoBlock:nth-child(4), .msc-infoBlock:nth-child(4), .ma-infoBlock:nth-child(4) {
	width:40%;	
}

