

<div class="regContainer">
        <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Acceptera matchning</h1>
      <p>Kom ihåg att om du accepterar detta förslag och din match också accepterar så kommer denna annons att räknas som förbrukad. Så acceptera endast om du känner dig helt säker på detta erbjudande.</p>
      <button type="submit" name="acceptProposalBtn" id="acceptProposalBtn" class="formBtn" ng-click="confirm_accept();">Acceptera</button><!-- When user press accept, the ad they payed for is now used and if they want to make another ad they have to create a new one and pay for it. But there is one circumstance that can give the user back the ad, and that is if a landlord accepts the searcher, but the searcher then deny the offer. In that case, the landlord will be given back the ad and it should be activated automatically. -->
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->
