<div class="loggedInContainer">
    <header ng-include="'/content/login_access/header.html'"></header>
  <section class="indexContent">
     <section class="leftBlock loggedInLeftBlock fltlft">
    	<figure>
            <!-- This map has hotspots, but is not going to have any functionality at this stage. Hotspots are kept for future implementation -->
        	<img src="/img/map_sweden.png" alt="Sverigekarta med länsindelning" usemap="#Map">
            <map name="Map" id="hoverMap">
            	<area shape="poly" coords="173,2,174,16,172,18,172,24,169,28,161,25,151,25,147,23,142,30,140,33,143,35,143,40,140,44,132,44,129,41,122,52,112,66,117,80,109,88,106,98,100,106,113,118,119,119,125,123,139,136,156,144,166,155,170,155,174,149,185,148,198,156,202,154,201,148,210,143,209,136,215,128,224,126,230,128,233,126,244,126,237,112,237,87,230,74,230,63,226,59,227,46,214,28,204,25,181,8,178,3,172,2" href="#" alt="Norrbottens län" id="Norrbotten" title="">
              <area shape="poly" coords="100,115,96,120,91,122,83,124,84,132,83,143,78,157,87,165,106,186,108,192,116,197,122,205,129,209,136,209,149,205,154,207,159,212,172,224,190,211,195,196,203,188,196,180,192,173,198,163,192,162,182,156,177,156,170,163,163,163,156,153,149,149,136,144,129,135,119,126,108,123,100,115" href="#" alt="Västerbottens län" title="">
              <area shape="poly" coords="75,168,67,181,73,188,74,197,71,205,65,208,56,208,51,205,38,218,34,231,34,241,31,256,34,275,43,278,53,288,51,292,59,302,74,303,74,293,78,292,82,294,89,284,83,279,79,268,84,262,91,261,105,257,114,257,114,252,119,251,100,228,100,222,104,213,102,206,94,198,92,193,92,184,83,172,75,168" href="#" alt="Jämtlands län" title="">
              <area shape="poly" coords="107,201,109,210,109,219,106,225,111,232,126,247,126,251,120,258,117,263,106,265,95,268,88,269,90,276,97,275,104,275,115,279,124,280,131,282,127,276,140,264,140,259,152,249,151,243,160,237,160,233,166,228,156,218,151,217,149,212,142,216,133,216,125,216,115,206,107,201" href="#" alt="Västernorrlands län" title="">
              <area shape="poly" coords="96,282,95,288,86,299,79,300,81,308,86,307,91,307,99,320,101,326,112,333,115,340,114,350,119,358,123,354,128,355,127,336,125,318,124,307,127,302,131,301,130,289,120,286,113,286,103,281,96,281" href="#" alt="Gävleborgs län" title="">
              <area shape="poly" coords="31,282,31,297,32,302,40,310,40,317,38,321,54,344,61,359,67,358,72,360,72,365,76,367,79,363,89,368,94,373,94,365,103,360,108,363,113,360,108,354,108,339,95,329,88,314,80,315,74,310,57,308,46,295,45,288,38,283,31,282" href="#" alt="Dalarnas län" title="">
              <area shape="poly" coords="33,326,29,334,34,350,34,357,31,365,25,372,17,378,15,385,13,390,16,396,21,395,28,401,33,401,39,409,42,418,48,412,53,410,64,410,63,391,68,386,68,380,70,371,65,366,58,365,53,360,44,341,39,333,33,326" href="#" alt="Värmlands län" title="">
              <area shape="poly" coords="75,373,76,381,73,383,74,388,68,395,69,401,70,412,73,415,73,421,78,422,80,425,90,418,93,418,100,410,101,401,92,387,90,378,82,371,75,373" href="#" alt="Örebro län" title="">
              <area shape="poly" coords="96,380,99,375,99,369,104,367,108,368,127,362,127,369,125,372,125,380,122,383,122,390,110,394,103,394,96,380" href="#" alt="Västmanlands län" title="">
              <area shape="poly" coords="134,350,132,355,133,366,131,374,131,383,127,388,132,394,133,397,140,391,135,385,136,381,140,379,149,369,154,365,155,360,144,358,144,352,134,350" href="#" alt="Uppsala län" title="">
              <area shape="poly" coords="142,385,156,370,160,371,166,381,165,386,159,391,157,395,158,401,152,404,152,408,142,417,139,415,134,403,134,401,140,400,143,394,142,385" href="#" alt="Stockholms län" title="">
              <area shape="poly" coords="106,401,111,399,117,398,124,394,129,399,130,408,132,415,135,419,134,423,126,427,120,425,116,422,110,414,105,411,105,400" href="#" alt="Södermanlands län" title="">
              <area shape="poly" coords="102,418,96,423,91,424,84,429,80,431,73,442,72,447,78,449,85,451,86,458,91,463,94,459,102,458,106,444,116,444,116,438,116,433,115,428,108,420,102,418" href="#" alt="Östergötlands län" title="">
              <area shape="poly" coords="65,416,61,417,54,417,47,423,40,426,34,419,30,407,24,405,18,402,14,408,8,415,3,410,3,417,3,423,3,430,5,437,13,438,14,443,11,453,10,464,14,468,21,467,25,481,31,482,34,484,45,476,49,458,53,455,61,458,67,451,64,446,74,430,69,427,68,419,65,416" href="#" alt="Västra götalands län" title="">
              <area shape="poly" coords="56,463,53,474,50,481,41,487,43,497,48,497,56,491,61,491,68,485,77,485,81,486,91,485,91,478,92,472,84,467,80,461,80,455,72,454,67,460,63,467,59,468,55,463" href="#" alt="Jönköpings län" title="">
              <area shape="poly" coords="13,473,17,486,20,497,24,503,32,509,31,516,34,518,41,517,41,513,39,508,37,503,37,495,33,490,27,487,21,486,18,476,17,472,12,473" href="#" alt="Hallands län" title="">
              <area shape="poly" coords="44,503,45,511,45,516,54,513,62,513,69,514,73,517,78,517,80,515,87,516,92,510,94,503,95,498,92,490,86,491,79,492,73,489,68,494,68,500,64,502,59,500,58,497,52,501,44,503" href="#" alt="Kronobergs län" title="">
              <area shape="poly" coords="28,520,28,524,25,527,22,526,26,532,30,542,32,550,29,555,27,559,58,560,58,556,56,552,57,544,65,535,66,529,64,525,66,520,61,518,49,521,40,523,27,520" href="#" alt="Skåne län" title="">
              <area shape="poly" coords="70,523,71,525,72,532,95,532,100,525,95,523,88,520,74,523,69,522" href="#" alt="Blekinge län" title="">
              <area shape="poly" coords="110,450,107,455,107,462,102,465,95,465,98,472,96,480,95,486,100,495,102,500,99,507,94,516,102,521,112,527,115,520,116,514,120,504,123,499,126,487,118,460,118,450,110,449" href="#" alt="Kalmar län" title="">
              <area shape="poly" coords="150,477,151,483,153,490,155,496,158,489,167,481,164,478,164,469,170,463,163,462,159,465,157,470,156,475,150,476" href="#" alt="Gotlands län" title="">
            </map>
        </figure>
    </section><!-- end .leftBlock -->
    <section class="rightBlock loggedInRightBlock fltlft">
        <figure>
            <img src="/img/logotype_white.png" alt="Tak över huvudet logotyp">
        </figure>
        <div class="slogan">
            <h2>"Det finns ett hem för oss alla"</h2>
        </div>
    </section><!-- end .rightBlock -->
    <div class="clearfloat"></div>
  </section><!-- end .indexContent -->
</div><!-- end .loggedInContainer -->