<!-- This page is displayed after a user has registered a new object and if object was successfully added to database -->
<div class="regContainer">
     <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Tack för din betalning, din annons är nu aktiverad :)</h1>
      <p>Ett kvitto har skickats till den e-postadress som är kopllat till detta konto.<br>
      Tack för att du använder Tak Över Huvudet som din bostadsförmedlare.<br>
      <br>
      Lycka till!</p>
      <br>
      <form action="#/ads">
      	<button type="submit" class="formBtn" id="toAdsBtn" tabindex="1" value="See my ads">Se mina annonser</button>
      </form>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->