<div id="dialog" title="Basic dialog" style="display: none;">
	<form name="adPayment" action="https://payment.architrade.com/paymentweb/start.action" method="POST">
		<input type="hidden" name="accepturl" value="http://5.179.112.137:8080/api/ads/payment">
		<input type="text" name="declineurl"  value="/home#ads">
		<input type="hidden" name="callbackurl" value="/home#/ads" />
		<input type="hidden" name="cancelurl" value="/home#/ads" />
		<input type="hidden" name="amount" value="150">
		<input type="hidden" name="lang" value="sv">
		<input type="hidden" name="currency" value="SEK">
		<input type="hidden" name="merchant" value="90197220">
		<input type="hidden" name="orderid" value="{{ad_id}}">
	</form>
</div>
<!-- <script language="JavaScript" type="text/JavaScript">
    document.adPayment.submit();
</script> -->