<div class="regContainer">
    <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">

  <div class="subPageInnerWrapper">
      <h1>Mina annonser</h1>
      
      <div class="adWrapper" ng-repeat="ad in ads"><!-- This div and all content inside is to be created dynamically for each ad user has created. Data should be retreived from database and fill content -->
        <div class="adHeader">
            <h3>
            <span id="adCategory" ng-if="ad.adType == 'letting'">Sökes</span>
            <span id="adCategory" ng-if="ad.adType == 'renting'">Uthyres</span>
            </h3><!-- category, For rent or Searching -->
            <h3><span id="adID">Annons ID #{{ad.id}}</span></h3><!-- ad identification number -->
        </div><!-- end .adHeader -->
        <div class="adPicturesWrapper">
          <figure class="adFig" id="adFig1" ng-if="ad.adImages[0].image_path != null"> <!-- figure should be created dynamically (max 3). If no picture was uploaded during creation of the ad, only one figure will be created and filled with the placeholder img (ad-placeholder.svg) -->
              <img src="{{ad.adImages[0].image_path}}" width="150" height="150" alt="Apartment placeholder"><!-- Retreive picture from database and replace. If no picture is found, use the default placeholder img. -->
            </figure>
        </div><!-- end .adPicturesWrapper -->
        <div class="adObjectDetails">
        <p>
            <span id="city">{{g_json.states[ad.adData.state]}}</span><br><!-- City -->
            <span id="type">{{g_json.accomodation[ad.adData.accommodationType]}}</span><br><!-- object type (e.g apartment, student room, etc.) -->
            <span id="size" ng-if="ad.adData.minSize != null">{{ad.adData.minSize}}&nbsp;kvm<br></span><!-- object size -->
            <span id="size" ng-if="ad.adData.size != null">{{ad.adData.size}}&nbsp;kvm<br></span><!-- object size -->
            <span id="price" ng-if="ad.adData.maxPrice != null">{{ad.adData.maxPrice}}&nbsp;SEK&nbsp;/&nbsp;{{ad.adData.period}}</span>
            <span id="price" ng-if="ad.adData.price != null">{{ad.adData.price}}&nbsp;SEK&nbsp;/&nbsp;{{ad.adData.period}}</span>
          </p>
        </div><!-- end .adObjectDetails -->
        <div class="adButtons">
          <form name="deleteAdForm"><!-- where to send user when button is clicked (to be developed) action="deleteAd.html"-->
            <button name="deleteAdBtn" id="deleteAdBtn" type="submit" value="Delete" class="adBtn" ng-click="delete_ad(ad.adData.id);">Radera</button> <!-- Remove ad -->
            </form>
            <br><br>
            <form name="editAdForm"><!-- redirected to the edit page where data should be retreived from database. If ad is a Searching type, then redirect to editFindAd.html. If type is Rent out, then redirect to editRentOutAd.html -->
              <button name="editAdBtn" id="editAdBtn" type="submit" value="Edit" class="adBtn" ng-click="edit_ad(ad.adType,ad.adData.id);">Redigera</button></td><!-- Edit ad -->
            </form>
            <form name="payAdForm" ng-if="ad.adStatus == 'paymentAwaited'" style= "padding-top:10px;"><!-- redirected to the edit page where data should be retreived from database. If ad is a Searching type, then redirect to editFindAd.html. If type is Rent out, then redirect to editRentOutAd.html -->
              <button name="payAdBtn" id="payAdBtn" type="submit" value="Pay" class="adBtn" ng-click="pay_ad(ad.adData.id);">Betala</button></td><!-- Edit ad -->
            </form>
        </div><!-- end .adButtons -->
        <div class="clearfloat"></div>
      </div><!-- end .adWrapper -->
      
      <div class="NewAdBtnsWrapper">
        <h3>Skapa ny annons</h3>
          <button type="submit" name="searchBtn" tabindex="1" class="fixedWidthBtn" ng-click="find_home();">Sökes</button>
          <button type="submit" name="rentBtn" tabindex="2" class="fixedWidthBtn" ng-click="rent_home();">Uthyres</button>
      </div><!-- end .adBtnsWrapper -->

    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->