<section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Är det säkert att du vill avsluta ditt konto?</h1>
      <p>Genom att klicka på Avsluta kommer all data att raderas och du kommer inte längre kunna använda vår tjänst med detta konto.</p>
      
      <form name="backToProfileForm" class="fltlft">
      	<button type="submit" name="backToProfileBtn" id="backToProfileBtn" class="formBtn" ng-click="myprofile();">Nej, gå tillbaka</button><!-- If user pres this button he/she will be taken back to the profile page. So the se3ssion has to keep track of the profile to know if the user is a corporation or provate person. In this stage I dont know which of the two profile pages category I will send them back to. For the wireframe and flowchart sake I have set it to private person profile. -->
      </form>
      
      <form name="deleteAccountForm" class="fltlft">
      	<button type="submit" name="deleteAccountBtn" id="deleteAccountBtn" class="formBtn" ng-click="confirm_delete_profile();">Avsluta</button><!-- WHen user press this button the user account should be deleted and a confirmation email shall be sent to user. User will then be redirected to index page of whole site -->
      </form>
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
</section><!-- end .subPageWrapper -->