
  <section class="subPageWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Är du säker att du vill radera annonsen?</h1>
      <p>Om du raderar annonsen kommer den inte längre finnas tillgänglig för matchning. Ingen återbetalning sker för betald annons.</p>
      <form name="toAdsForm" class="fltlft">
      	<button type="submit" name="toAdsBtn" id="toAdsBtn" class="formBtn" ng-click="go_back_ads();">Nej, gå tillbaka</button><!-- WHen user press this button the user account should be deleted and a confirmation email shall be sent to user. User will then be redirected to index page of whole site -->
      </form>
      
      <form name="deleteAccountForm" class="fltlft">
      	<button type="submit" name="deleteAdBtn" id="deleteAdBtn" class="formBtn" ng-click="confirm_delete_ad();">Radera</button><!-- WHen user press this button the user account should be deleted and a confirmation email shall be sent to user. User will then be redirected to index page of whole site -->
      </form>
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->