<div class="regContainer">
  <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper" id="subPageFormWrapper">
  
  	<div class="subPageInnerWrapper">
      <h1>Redigera profil</h1>
      
      <section class="subContentWrapper fltlft">

          <!-- Form to let user change some user details. Username, date of birth and gender can NOT be changed and is therefore disabled. Form field should be loaded with data retreived from database so user can see current profile data. -->
          <form ng-submit="update_profile()" class="registerForm" name="edit_profile_form" id="edit_profile_form" method="post" enctype="multipart/form-data" dir="ltr">
          
          <fieldset class="fltlft">
            <label for="input-user-pic" class="customInputBtn"><!-- this label is designed to function as a browse for file -->
            
              <!-- user can change profile picture and when user submits a new file, the old one should be deleted out of physical memory reasons -->
              <img src="{{ userprofile.imagePath || tempPath || '../../img/placeholder.png'}}" id="imgUserPlaceholder" width="150" height="150" alt="profile picture placeholder">
              <small>Sök bild</small>     
            </label>
            <input type="file" name="input-user-pic" id="input-user-pic" class="displayNone"  />
            
            <!-- Display the name of the selected file (jpg or png) in this paragraph -->
<!--             <p id="fileName"></p> -->
            
          </fieldset>
              <fieldset class="fltlft">
                  <label for="username">Användarnamn</label>
                  <input id="username" class="txtInput" name="username" type="email" maxlength="50" placeholder="" value={{userAccount.username}} disabled><!-- retrieve username from database and display in placeholder-->

                  <label for="name" ng-if="userprofile.name != null">Namn</label>
                  <input id="name" ng-if="userprofile.name != null" class="txtInput" name="name" type="text" placeholder="Namn" maxlength="20" tabindex="3" value={{userprofile.name}}>

                  <label for="familyname" ng-if="userprofile.familyname != null">Efternamn</label>
                  <input id="familyname" ng-if="userprofile.familyname != null" class="txtInput" name="familyname" type="text" placeholder="Efternamn" maxlength="20" tabindex="4" value={{userprofile.familyname}}>

                  <label for="corporation" ng-if="userprofile.corporation != null">Företag</label>
                  <input id="corporation" ng-if="userprofile.corporation != null" class="txtInput" name="corporation" type="text" placeholder="Företagsnamn" maxlength="50" tabindex="3" value={{userprofile.corporation}}><!-- corporation/business name -->
                  <label for="corpID" ng-if="userprofile.corpID != null">Organisationsnr.</label>
                  <input id="corpID" ng-if="userprofile.corpID != null" class="txtInput" name="corpID" type="text" placeholder="Organisationsnr." value={{userprofile.corpID}} maxlength="20" disabled><!-- corporate identity number -->

                  <label for="street">Gatuadress</label>
                  <input id="street" class="txtInput" name="street" type="text" placeholder="Gatuadress" maxlength="50" tabindex="5" value={{userprofile.street}}>
                  <label for="postalcode">Postnummer</label>
                  <input id="postalcode" class="txtInput" name="postalcode" type="text" placeholder="Postnummer" maxlength="6" tabindex="6" value={{userprofile.postalcode}}> <!-- must validate that user has entered only numbers -->
                  <label for="city">Stad</label>
                  <input id="city" class="txtInput" name="city" type="text" placeholder="Stad" maxlength="20" tabindex="7" value={{userprofile.city}}>

              </fieldset>
              <fieldset class="fltlft">
                  <label for="phone" ng-if="userprofile.phone != null">Telefon</label>
                  <input ng-if="userprofile.phone != null" value={{userprofile.phone}} id="phone" class="txtInput" name="phone" type="text" placeholder="Telefonnummer" maxlength="20" tabindex="9">

                  <label for="occupation" ng-if="userprofile.occupation != null">Sysselsättning</label>
                  <input ng-if="userprofile.occupation != null" value={{userprofile.occupation}} id="occupation" class="txtInput" name="occupation" type="text" placeholder="Sysselsättning" maxlength="30" tabindex="10">

                  <label for="allergy" ng-if="userprofile.allergy != null">Allergier?</label>
                  <input ng-if="userprofile.allergy != null" value={{userprofile.allergy}} id="allergy" class="txtInput" name="allergy" type="text" placeholder="Jag är allergisk mot.." maxlength="50" tabindex="11">
                  <label for="responsiblePerson" ng-if="userprofile.responsiblePerson != null">Ansvarig person</label>
                  <input id="responsiblePerson" ng-if="userprofile.responsiblePerson != null" class="txtInput" name="responsiblePerson" type="text" placeholder="Fullständigt namn" maxlength="50" tabindex="8" value={{userprofile.responsiblePerson}}>
                  <label for="birthYear">Födelsedatum</label>
                  <select name="birthYear" id="birthYear" ng-model="s_year" class="selectInput fltlft" tabindex="5" title="Årtal" dir="ltr"  >
                      <option value="2015">2015</option>
                      <option value="2014">2014</option>
                      <option value="2013">2013</option>
                      <option value="2012">2012</option>
                      <option value="2011">2011</option>
                      <option value="2010">2010</option>
                      <option value="2009">2009</option>
                      <option value="2008">2008</option>
                      <option value="2007">2007</option>
                      <option value="2006">2006</option>
                      <option value="2005">2005</option>
                      <option value="2004">2004</option>
                      <option value="2003">2003</option>
                      <option value="2002">2002</option>
                      <option value="2001">2001</option>
                      <option value="2000">2000</option>
                      <option value="1999">1999</option>
                      <option value="1998">1998</option>
                      <option value="1997">1997</option>
                      <option value="1996">1996</option>
                      <option value="1995">1995</option>
                      <option value="1994">1994</option>
                      <option value="1993">1993</option>
                      <option value="1992">1992</option>
                      <option value="1991">1991</option>
                      <option value="1990">1990</option>
                      <option value="1989">1989</option>
                      <option value="1988">1988</option>
                      <option value="1987">1987</option>
                      <option value="1986">1986</option>
                      <option value="1985">1985</option>
                      <option value="1984">1984</option>
                      <option value="1983">1983</option>
                      <option value="1982">1982</option>
                      <option value="1981">1981</option>
                      <option value="1980">1980</option>
                      <option value="1979">1979</option>
                      <option value="1978">1978</option>
                      <option value="1977">1977</option>
                      <option value="1976">1976</option>
                      <option value="1975">1975</option>
                      <option value="1974">1974</option>
                      <option value="1973">1973</option>
                      <option value="1972">1972</option>
                      <option value="1971">1971</option>
                      <option value="1970">1970</option>
                      <option value="1969">1969</option>
                      <option value="1968">1968</option>
                      <option value="1967">1967</option>
                      <option value="1966">1966</option>
                      <option value="1965">1965</option>
                      <option value="1964">1964</option>
                      <option value="1963">1963</option>
                      <option value="1962">1962</option>
                      <option value="1961">1961</option>
                      <option value="1960">1960</option>
                      <option value="1959">1959</option>
                      <option value="1958">1958</option>
                      <option value="1957">1957</option>
                      <option value="1956">1956</option>
                      <option value="1955">1955</option>
                      <option value="1954">1954</option>
                      <option value="1953">1953</option>
                      <option value="1952">1952</option>
                      <option value="1951">1951</option>
                      <option value="1950">1950</option>
                      <option value="1949">1949</option>
                      <option value="1948">1948</option>
                      <option value="1947">1947</option>
                      <option value="1946">1946</option>
                      <option value="1945">1945</option>
                      <option value="1944">1944</option>
                      <option value="1943">1943</option>
                      <option value="1942">1942</option>
                      <option value="1941">1941</option>
                      <option value="1940">1940</option>
                      <option value="1939">1939</option>
                      <option value="1938">1938</option>
                      <option value="1937">1937</option>
                      <option value="1936">1936</option>
                      <option value="1935">1935</option>
                      <option value="1934">1934</option>
                      <option value="1933">1933</option>
                      <option value="1932">1932</option>
                      <option value="1931">1931</option>
                      <option value="1930">1930</option>
                </select>
                <select name="birthMonth" id="birthMonth" ng-model="s_month" class="selectInput fltlft" tabindex="6" title="Månad" dir="ltr" >
                      <option value="1">Januari</option>
                      <option value="2">Februari</option>
                      <option value="3">Mars</option>
                      <option value="4">April</option>
                      <option value="5">Maj</option>
                      <option value="6">Juni</option>
                      <option value="7">Juli</option>
                      <option value="8">Augusti</option>
                      <option value="9">September</option>
                      <option value="10">Oktober</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                </select>
                <select name="birthDay" id="birthDay" ng-model="s_date" class="selectInput fltlft" tabindex="7" title="Dag" dir="ltr" >
                      <option value="1">01</option>
                      <option value="2">02</option>
                      <option value="3">03</option>
                      <option value="4">04</option>
                      <option value="5">05</option>
                      <option value="6">06</option>
                      <option value="7">07</option>
                      <option value="8">08</option>
                      <option value="9">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                </select>
              	
                <div class="clearfloat"></div>
              </fieldset>
              <div class="clearfloat"></div>

            <button type="submit" class="formBtn fltrt" name="saveUserSettingsBtn" tabindex="12" value="Spara ändringar">Spara ändringar</button> <!-- store user profile details and overwrite old -->
          </form>
          
      </section><!-- end .subContentWrapper .fltlft -->
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->