<div id="collapsedMenuIcon">
        <nav>
          <ul>
            <li id="menuIcon"><img src="/img/menu-icon.svg" width="32" height="32" alt="Show menu icon" /></li>
          </ul>
        </nav>
      </div><!-- end #collapsedMenuIcon -->
      <div id="smallScreenMenu">
       <nav>
          <ul>
              <a title="Dölj meny" id="hideMenu"><li><img src="/img/0322-circle-up.svg" width="32" height="32" alt="Hide menu icon" /></li></a>
              <a href="#home" title="Tillbaka till inloggad startsida"><li>Start</li></a> <!-- link to this page --> 
              <a ng-if="userAccount.status ==='active'" href="#myprofile" title="Min profil"><li>Min profil</li></a> <!-- link to this users profile page -->
              <a ng-if="userAccount.status ==='active'" href="#ads" title="Mina annonser"><li>Annonser</li></a> <!-- link to this users ad page -->
              <a ng-if="userAccount.status ==='active'" href="#messages" title="Mina meddelanden">
              	<li id="messageLink">Meddelanden
              		<div ng-if="userAccount.messageCount && userAccount.messageCount.unviewed_count && userAccount.messageCount.unviewed_count > 0" id="alertContainer"><!-- this container holds the alert icon (key) that will be displayed when the user got a new message/new match. Should be set to display:block on all logged in pages for the user seesion until the user visits the Message page --></div>
              	</li>
              </a> <!-- link to this users messages page -->
              <a href="/logout" title="Logga ut" class="fltrt"><li>Logga ut</li></a> <!-- log out user. The user will be redirected to index page after successfully logged out -->
              <a ng-if="userAccount.status ==='active'" href="#change_password" title="Byt lösenord" class="fltrt"><li>Byt lösenord</li></a>
          </ul>
       </nav>
    </div><!-- end #smallScreenMenu -->
    <div id="bigScreenMenu">
       <nav>
          <ul>
              <a href="#home" title="Tillbaka till inloggad startsida"><li>Start</li></a> <!-- link to this page --> 
              <a ng-if="userAccount.status ==='active'" href="#myprofile" title="Min profil"><li>Min profil</li></a> <!-- link to this users profile page -->
              <a ng-if="userAccount.status ==='active'" href="#ads" title="Mina annonser"><li>Annonser</li></a> <!-- link to this users ad page -->
              <a ng-if="userAccount.status ==='active'" href="#messages" title="Mina meddelanden">
              	<li id="messageLink">Meddelanden
              		<div ng-if="userAccount.messageCount && userAccount.messageCount.unviewed_count && userAccount.messageCount.unviewed_count > 0" id="alertContainer">
              		<!-- this container holds the alert icon (key) that will be displayed when the user got a new message/new match. Should be set to display:block on all logged in pages for the user seesion until the user visits the Message page --></div>
              	</li>
              </a> <!-- link to this users messages page -->
              <a href="/logout" title="Logga ut" class="fltrt"><li>Logga ut</li></a> <!-- log out user. The user will be redirected to index page after successfully logged out -->
              <a ng-if="userAccount.status ==='active'" href="#change_password" title="Byt lösenord" class="fltrt"><li>Byt lösenord</li></a>
          </ul>
       </nav>
    </div><!-- end #bigScreenMenu -->