<!-- This page is where all messages to the user will be displayed. Data from the database should be retreived and displayed. -->
<!-- The tables that will display information about the proposal must be created dynamically. There are 4 types of proposal tables, all depending on who the receiver/logged in user is and who the other part is (private or corporation). 1: Private person landlord, 2: Private person searcher, 3: Corporation landlord, and 4: Corporation searcher. So when there is a match between two ads, the right tables must be created. The tables are of course only visible if there is a match/message to the logged in user. 

There is also a fifth table that the landlord receives if the searcher accepts the offer, containing the searchers contact information. This one also created dynamically and upon searchers acceptance of an offer. As soon the searcher accepts, this table message should be delivered to the landlord. 

Cells with $value is where data from database is to be insertet 

When a user clicks Accept on a message, that message should still be left in the message stack and visible to the user. But one of the buttons should change text to saying Delete, so that the user can delete a message whenever they want. When they delete a message, then it should be completely removed from the site. Same thing should happen if a user clicks Deny, the message is still there but with one Delete button. -->

<div class="regContainer">
      <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper" id="messagesWrapper">
    <div class="subPageInnerWrapper" id="subMessagesWrapper">
      <h1>Mina meddelanden</h1>
      <!-- This message block is shown for the landlord when the searcher is a private person. -->
      <div id="toLandlordFromPrivateMessage" ng-repeat="msg in rent_msgs">
        <div class="messageWrapper"  ng-if="msg.status == 'awaiting' || msg.status == 'renterAccepted'" >
        <h3>Du har fått ett förslag på annons <span id="adID">#{{msg.renting_ad_id}}</span></h3>
        <div class="m-infoBlock">
          <figure id="m-infoBlockProfilePic">
              <img src="{{ msg.letter.profile.imagePath || '/img/placeholder.png'}}" id="imgUserPlaceholder" width="150" height="150" alt="profile picture"><!-- replace with user profile picture if there is one. Otherwise the placeholder.svg will be used -->
            </figure>
            <div class="m-userDetails">
              <p>
                <span id="mlc-corporation" ng-if="msg.letter.profile.corporation != null">{{msg.letter.profile.corporation}}<br></span>
                <span id="mlc-responsiblePerson" ng-if="msg.letter.profile.responsiblePerson != null">{{msg.letter.profile.responsiblePerson}}<br></span>
                <span id="m-fullName" ng-if="msg.letter.profile.name != null">{{msg.letter.profile.name}}&nbsp;</span><span id="m-familyName">{{msg.letter.profile.familyname}}<br></span>
                <span id="m-age">{{msg.letter.profile.dob}}<br></span>
                <span id="m-gender" ng-if="msg.letter.profile.gender != null">{{g_json.gender[msg.letter.profile.gender]}}<br></span>
                <span id="m-occupation" ng-if="msg.letter.profile.occupation != null">{{msg.letter.profile.occupation}}<br></span>
                <span id="m-allergicAgainst" ng-if="msg.letter.profile.allergy != null">Allergisk mot: {{msg.letter.profile.allergy}}<br></span><br>
                Övrig information:<br>
                <span ng-if="msg.lettingAdData.aboutMe != null">{{msg.lettingAdData.aboutMe}}</span>
                <span ng-if="msg.lettingAdData.moreInfo != null">{{msg.lettingAdData.moreInfo}}</span><br>
                </p>
            </div><!-- end .m-userDetails -->
        </div><!-- end .infoBlock -->
        
        <div class="m-infoBlock">
          <p>Typ av bostad<br>
            <span id="m-type">{{g_json.accomodation[msg.lettingAdData.accommodationType]}}</span><br>
            <p>Kontraktstyp<br>
            <span id="m-contract">{{g_json.contract[msg.lettingAdData.contract]}}</span><br>
            <p>Antal rum<br>
            <span id="m-rooms">{{msg.lettingAdData.minRooms}}</span><br>
            <p>Minimum storlek<br>
            <span id="m-minSize">{{msg.lettingAdData.minSize}}</span><br>
            <p>Län<br>
            <span id="m-state">{{g_json.states[msg.lettingAdData.state]}}</span><br>
            <p>Kommun<br>
            <span id="m-municipality">{{g_json.municipality[msg.lettingAdData.municipality]}}</span><br>
            <p>Område<br>
            <span id="m-localArea">{{msg.lettingAdData.area}}</span><br>
            </p>
        </div><!-- end .infoBlock -->
        
        <div class="m-infoBlock">
          <p>Max pris<br>
            <span id="m-maxPrice">{{msg.lettingAdData.maxPrice}}</span> SEK / <span id="m-period">{{msg.lettingAdData.period}}</span><br>
            <p>Tillgänglig fr.o.m.<br>
            <span id="m-accessDate">{{msg.lettingAdData.accessDate | date:'dd/MM/yyyy'}}</span><br>
            <p>Hur lång tid<br>
            <span id="m-timeRent">{{msg.lettingAdData.duration}}</span><br>
            <p>Våning<br>
            <span id="m-floor">{{g_json.floor[msg.lettingAdData.floor]}}</span><br>
            <p>Hiss<br>
            <span id="m-elevator">{{g_json.yes_or_no[msg.lettingAdData.elevator]}}</span><br>
            <p>Möblerad<br>
            <span id="m-furnished">{{g_json.yes_or_no[msg.lettingAdData.furnished]}}</span><br>
            <p>Balkong/uteplats<br>
            <span id="m-balcony">{{g_json.yes_or_no[msg.lettingAdData.balcony]}}</span><br>
            </p>
        </div><!-- end .infoBlock -->
        <div class="messageFooterBlock" ng-if="msg.status != 'renterAccepted'">
          <div class="proposalInfo">
              <p><small>Förslaget registrerades kl <span id="m-proposalTime">{{msg.matched_time  | date:'dd/MM/yyyy HH:mm:ss'}}</span>. Du har tre dagar på dig att svara från det att förslaget registrerades, annars kommer den att nekas automatiskt.</small></p>
            </div>
            <div class="messageFooterBtns">
                <button type="submit" name="acceptBtn" id="acceptBtn" class="formBtn" ng-click="accept_msg(msg.renting_ad_id,'renting');">Acceptera</button>
                <button type="submit" name="denyBtn" id="denyBtn" class="formBtn" ng-click="deny_msg(msg.renting_ad_id,'renting');">Neka</button>
            </div>
        </div><!-- end .messageFooterBlock -->
        </div>
          <div class="messageWrapper" id="approvedOfferMessage" ng-if="msg.status == 'approved'" >
              <h3>Du har fått ett godkännande på annons <span id="adID">#{{msg.renting_ad_id}}</span></h3>
              <div class="ma-infoBlock"> 
                  <figure id="ma-infoBlockProfilePic"> 
                      <img src="{{ msg.letter.profile.imagePath || '/img/placeholder.png'}}" id="imgUserPlaceholder" width="150" height="150" alt="Profile picture"><!-- replace with user profile picture if there is one. Otherwise the placeholder.svg will be used --> 
                  </figure> 
                  <div class="ma-userDetails"> 
                      <p>
                          <span id="mlc-corporation" ng-if="msg.letter.profile.corporation != null">{{msg.letter.profile.corporation}}<br></span>
                          <span id="m-fullName" ng-if="msg.letter.profile.name != null">{{msg.letter.profile.name}}&nbsp;</span><span id="m-familyName">{{msg.letter.profile.familyname}}</span><br>
                          <span>{{msg.letter.username}}</span><br>
                          <span id="ma-phone">{{msg.letter.profile.phone}}<br></span>
                          Övrig information:
                          <span ng-if="msg.lettingAdData.aboutMe != null">{{msg.lettingAdData.aboutMe}}</span>
                          <span ng-if="msg.lettingAdData.moreInfo != null">{{msg.lettingAdData.moreInfo}}</span>
                          <br>
                      </p> 
                  </div><!-- end .ma-userDetails --> 
              </div><!-- end .infoBlock --> 
              <div class="ma-info-block"> 
                  <p><strong>Kom ihåg!</strong><br>
            Kom ihåg! Du har nu fått kontaktuppgifterna som du hittar här under bilden och du bör nu kontakta den andra personen för utbyte av information, tack för att du valde Tak Över Huvudet.</p>
              </div><!-- end .ma-info-block --> 
          </div>
      </div><!-- end .messageWrapper -->
      
      <!-- This message block is shown for the Searcher when the Landlord is a private person. -->
      <div id="toSearcherFromPrivateLandlordMessage" ng-repeat="msg in let_msgs">
      <div class="messageWrapper"  ng-if="msg.status == 'awaiting' || msg.status == 'renterAccepted'" >
        <h3>Du har fått ett förslag på annons <span id="adID">#{{msg.letting_ad_id}}</span></h3>
        <div class="ms-infoBlock">
          <figure id="ms-infoBlockProfilePic">
              <img src="{{ msg.renter.profile.imagePath || '/img/placeholder.png'}}" id="imgUserPlaceholder" width="150" height="150" alt="profile picture"><!-- replace with user profile picture if there is one. Otherwise the placeholder.svg will be used -->
            </figure>
            <div class="ms-userDetails">
              <p>
                <span id="mlc-corporation" ng-if="msg.renter.profile.corporation != null">{{msg.renter.profile.corporation}}<br></span>
                <span id="mlc-responsiblePerson" ng-if="msg.renter.profile.responsiblePerson != null">{{msg.renter.profile.responsiblePerson}}<br></span>
                <span id="m-fullName" ng-if="msg.renter.profile.name != null">{{msg.renter.profile.name}}&nbsp;</span><span id="m-familyName">{{msg.renter.profile.familyname}}</span><br>
                <span id="m-age">{{msg.renter.profile.dob}}<br></span>
                <span id="m-gender" ng-if="msg.renter.profile.gender != null">{{g_json.gender[msg.renter.profile.gender]}}<br></span>
                <span id="m-occupation" ng-if="msg.renter.profile.occupation != null">{{msg.renter.profile.occupation}}<br></span>
                <span id="m-allergicAgainst" ng-if="msg.renter.profile.allergy != null">Jag är allergisk mot: {{msg.renter.profile.allergy}}<br></span><br>
                Övrig information:<br>
                <span ng-if="msg.rentingAdData.aboutMe != null">{{msg.rentingAdData.aboutMe}}</span>
                <span ng-if="msg.rentingAdData.moreInfo != null">{{msg.rentingAdData.moreInfo}}</span><br>
                </p>
            </div><!-- end .ms-userDetails -->
        </div><!-- end .infoBlock -->
        
        <div class="m-infoBlock">
          <p>Typ av bostad<br>
            <span id="m-type">{{g_json.accomodation[msg.rentingAdData.accommodationType]}}</span><br>
            <p>Kontraktstyp<br>
            <span id="m-contract">{{g_json.contract[msg.rentingAdData.contract]}}</span><br>
            <p>Antal rum<br>
            <span id="m-rooms">{{msg.rentingAdData.numOfRooms}}</span><br>
            <p>Minimum storlek<br>
            <span id="m-minSize">{{msg.rentingAdData.size}}</span><br>
            <p>Län<br>
            <span id="m-state">{{g_json.states[msg.rentingAdData.state]}}</span><br>
            <p>Kommun<br>
            <span id="m-municipality">{{g_json.municipality[msg.rentingAdData.municipality]}}</span><br>
            <p>Område<br>
            <span id="m-localArea">{{msg.rentingAdData.area}}</span><br>
            </p>
        </div><!-- end .infoBlock -->
        
        <div class="m-infoBlock">
          <p>Pris<br>
            <span id="m-maxPrice">{{msg.rentingAdData.price}}</span> SEK / <span id="m-period">{{msg.rentingAdData.period}}</span><br>
            <p>Tillgänglig fr.o.m.<br>
            <span id="m-accessDate">{{msg.rentingAdData.accessDate | date:'dd/MM/yyyy'}}</span><br>
            <p>Hur länge<br>
            <span id="m-timeRent">{{msg.rentingAdData.minTimeToRent}}</span><br>
            <p>Våning<br>
            <span id="m-floor">{{g_json.floor[msg.rentingAdData.floor]}}</span><br>
            <p>Hiss<br>
            <span id="m-elevator">{{g_json.yes_or_no[msg.rentingAdData.elevator]}}</span><br>
            <p>Möblerad<br>
            <span id="m-furnished">{{g_json.yes_or_no[msg.rentingAdData.furnished]}}</span><br>
            <p>Balkong/uteplats<br>
            <span id="m-balcony">{{g_json.yes_or_no[msg.rentingAdData.balcony]}}</span><br>
            </p>
        </div><!-- end .infoBlock -->
        <div class="messageFooterBlock">
          <div class="messagePictureWrapper">
              <figure class="messageFig" id="objectPic1"><!-- create dynamically and fill with pictures if there is any -->
                  <img src="{{msg.rentingAdData.adImages[0].image_path || 'content/login_access/imgs/object-placeholder.png'}}" width="150" alt="object picture"><!-- If there is no image to show, leave it empty/remove img tag -->
                </figure>
                <figure class="messageFig" id="objectPic2">
                  <img src="{{msg.rentingAdData.adImages[1].image_path || 'content/login_access/imgs/object-placeholder.png'}}" width="150" alt="object picture"><!-- Show only if there is more than one images -->
                </figure>
                <figure class="messageFig" id="objectPic3">
                  <img src="{{msg.rentingAdData.adImages[2].image_path || 'content/login_access/imgs/object-placeholder.png'}}" width="150" alt="object picture"><!-- Show only if there is more than two images -->
                </figure>
            </div>
          <div class="proposalInfo">
              <p><small>Förslaget registrerades kl <span id="ms-proposalTime">{{msg.matched_time | date:'dd/MM/yyyy HH:mm:ss'}}</span>. Du har tre dagar på dig att svara från det att förslaget registrerades, annars kommer den att nekas automatiskt.</small></p>
            </div>
            <div class="messageFooterBtns">
              <button type="submit" name="acceptBtn" id="acceptBtn" class="formBtn" ng-click="accept_msg(msg.letting_ad_id,'letting');">Acceptera</button>
                <button type="submit" name="denyBtn" id="denyBtn" class="formBtn" ng-click="deny_msg(msg.letting_ad_id,'letting');">Neka</button>
            </div>
        </div><!-- end .messageFooterBlock -->
        </div>

      <div class="messageWrapper" id="approvedOfferMessage" ng-if="msg.status == 'approved'" > 
          <h3>Du har fått ett godkännande på annons <span id="adID">#{{msg.letting_ad_id}}</span></h3>
          <div class="ma-infoBlock">
              <figure id="ma-infoBlockProfilePic">
                  <img src="{{msg.renter.profile.imagePath || '/img/placeholder.png'}}" id="imgUserPlaceholder" width="150" height="150" alt="Profile picture"><!-- replace with user profile picture if there is one. Otherwise the placeholder.svg will be used --> 
              </figure>
              <div class="ma-userDetails">
                  <p>
                      <span id="mlc-corporation" ng-if="msg.renter.profile.corporation != null">{{msg.renter.profile.corporation}}<br></span>
                      <span id="m-fullName" ng-if="msg.renter.profile.name != null">{{msg.renter.profile.name}}&nbsp;</span><span id="m-familyName">{{msg.renter.profile.familyname}}</span><br>
                      <span>{{msg.renter.username}}</span><br>
                      <span id="ma-phone">{{msg.renter.profile.phone}}</span><br> 
                      Övrig information:
                      <span ng-if="msg.rentingAdData.aboutMe != null">{{msg.rentingAdData.aboutMe}}</span>
                      <span ng-if="msg.rentingAdData.moreInfo != null">{{msg.rentingAdData.moreInfo}}</span>
                  </p> 
              </div><!-- end .ma-userDetails --> 
          </div><!-- end .infoBlock --> 
          <div class="ma-info-block"> 
                  <p><strong>Kom ihåg!</strong><br>
            Kom ihåg! Du har nu fått kontaktuppgifterna som du hittar här under bilden och du bör nu kontakta den andra personen för utbyte av information, tack för att du valde Tak Över Huvudet.</p>
              </div><!-- end .ma-info-block --> 
      </div>

      </div><!-- end .messageWrapper -->

      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .loggedInContainer -->