<!-- This is where users make their payment for ads they have created. When payment is performed and verified, an email with receipt is automatically sent to both user and admin (kvitto@takoverhuvudet.se). The ad must not be published until payment is done. If payment cant be performed, user will be redirected to payment_denied.html.-->
<div class="regContainer">
   <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <h1>Slutför betalning</h1>
      <p>Om du är säker på att du fyllt i allting rätt i din annons kan du slutföra din betalning genom att trycka på Betala. Du omdirigeras då till vår säkra betaltjänstsida. Om du vill se över din annons en gång till trycker du på Nej, granska igen.</p>
      <form action="ad_success.html" name="paySuccessForm">
      	<button type="submit" name="paySuccessBtn" id="paySuccessBtn" class="formBtn">Betala</button><!-- When user confirm payment, all neccessary procedures is done to perform online payment. User will be redirected to a secure payment site. If everything works out fine with the payment, user will be redirected to ad_success.html, so user gets verified that the payment was done. If payment out of any reason could not be done, user should be redirected to payment_denied.html. All information user has entered in the form fields in the page before should be temporarily stored in case the payment could not be done out of technical reasons. -->
        
      </form>
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->