
<div class="regContainer">
     <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
  	<div class="subPageInnerWrapper">
      <h1>Din betalning genomfördes inte.</h1>
      <p>Hoppsan, något gick fel när betalningen skulle genomföras :(</p>
      <br>
      <form action="ads.html">
      	<button type="submit" class="formBtn" tabindex="1" value="Försök igen">Försök igen</button>
      </form>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->