<div class="regContainer">
  <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper" id="subPageProfileWrapper">
  
    <div class="subPageInnerWrapper" ng-if="userAccount.status ==='confirmationAwaiting'" style="color: #FC020B;">
    Kolla din epost({{userAccount.username}}) och följ länken för att slutföra din registrering. Så fort du slutfört din registrering kan du börja lägga in annonser.
    </div>
  	<div class="subPageInnerWrapper">
      <h1>Min profil</h1>
      <section class="profilePicture fltlft" ng-if="userprofile.imagePath != null">
      
        <!-- this picture is to be replaced with the picture the user uploaded upon registration found in /content/login_access/imgs/. If they did not upload a picture, then this placehold picture should be displayed -->
        <img src="{{ userprofile.imagePath || '/img/placeholder.png'}}?t={{random}}" id="imgUserPlaceholder" width="150" height="150" alt="profile picture placeholder"> 
      </section>
      
      <section class="subContentWrapper fltlft">
      	<div class="profileColumn fltlft"><!-- retrieve user data from database and display it inside span tags accordingly -->
          <p>Användarnamn<br><span id="username">{{userAccount.username}}</span></p>
          <p ng-if="userprofile.name != null">Namn<br><span id="name">{{userprofile.name}}</span></p>
          <p ng-if="userprofile.familyName != null">Efternamn<br><span id="familyName">{{userprofile.familyname}}</span></p>
          <p>Postadress<br>
            <span id="street">{{userprofile.street}}</span><br>
            <span id="postalCode">{{userprofile.postalcode}}</span>&nbsp;<span id="city">{{userprofile.city}}</span></p>
            <p>Födelsedatum<br>
            <span id="birthDate">{{userprofile.dob}}</span>
          </p>
        </div>
        <div class="profileColumn fltlft">
          <p ng-if="userprofile.phone != null">Telefon<br><span id="phone">{{userprofile.phone}}</span></p>
          <p ng-if="userprofile.gender != null">Kön<br><span id="gender">{{g_json.gender[userprofile.gender]}}</span></p>
          <p ng-if="userprofile.occupation != null">Sysselsättning<br><span id="occupation">{{userprofile.occupation}}</span></p>
          <p ng-if="userprofile.allergy != null">Allergisk mot..<br><span id="allergy">{{userprofile.allergy}}</span></p>
          <p ng-if="userprofile.corporation != null">Företag<br><span id="corporationName">{{userprofile.corporation}}</span></p>
          <p ng-if="userprofile.corpID != null">Organisationsnr.<br><span id="corporationID">{{userprofile.corpID}}</span></p>
          <p ng-if="userprofile.responsiblePerson != null">Ansvarig person<br><span id="corporationID">{{userprofile.responsiblePerson}}</span></p>
        </div>
        <div class="clearfloat"></div>
        
        <div class="profileBtns" ng-if="userAccount.status ==='active'">
            <button type="submit" class="formBtn" name="userSettingsBtn" tabindex="3" ng-click="edit_profile(userAccount.id);" value="Redigera profil">Redigera profil</button> 
            <button type="submit" class="formBtn" name="deleteAccount" tabindex="3" ng-click="delete_profile(userAccount.id);" value="Avsluta konto">Avsluta konto</button> <!-- delete user account link --><!-- change user settings link button -->
          <!--form action="deleteUserAccount.html" class="fltlft">
            
          </form-->
        </div>
          
      </section><!-- end .subContentWrapper .fltlft -->
      <div class="clearfloat"></div>
    </div><!-- end .subPageInnerWrapper -->
    
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->