<div class="regContainer">
    <header ng-include="'/content/login_access/header.html'"></header>
  <section class="subPageWrapper">
    <div class="subPageInnerWrapper">
      <div class="resetPasswordWrapper">
        <h1>Reset password</h1>
          <form name="newPasswordForm" id="new_password_form" ng-submit="confirm_change_password()">
            <label for="newPassword">Skriv in nytt lösenord</label>
            <input type="password" class="txtInput" name="newPassword" id="newPassword" placeholder="Nytt lösenord" autofocus required tabindex="1">
            <label for="verifyNewPassword">Repetera lösenordet</label>
            <input type="password" class="txtInput" name="verifyNewPassword" id="verifyNewPassword" placeholder="Skriv in samma lösenord" required tabindex="2">
            <p class="">När du klickar spara kommer ditt nya lösenord att lagras och du blir sen skickad till inloggningssidan.</p>
            <button type="submit" class="formBtn" value="Save" tabindex="3">Spara</button><!-- Clicking button will do a check that both password fields are identical and then save the new password. User then gets redirected to login page. -->
          </form>
      </div><!-- end .resetPasswordWrapper -->
    </div><!-- end .subPageInnerWrapper -->
  </section><!-- end .subPageWrapper -->
</div><!-- end .regContainer -->
